<a href="https://colab.research.google.com/github/naphtron/Cloud/blob/main/aws_practice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# !pip install boto3
# !pip install s3fs

In [ ]:
import os
import pandas as pd

credentials_path = 'accessKeys.csv'
credentials = pd.read_csv(credentials_path, header=0)

os.environ['AWS_ACCESS_KEY_ID'] = credentials.loc[0, 'Access key ID']
os.environ['AWS_SECRET_ACCESS_KEY'] = credentials.loc[0, 'Secret access key']

In [ ]:
import boto3
s3 = boto3.resource(
    's3',
    aws_access_key_id=os.environ['AWS_ACCESS_KEY_ID'],
    aws_secret_access_key=os.environ['AWS_SECRET_ACCESS_KEY'])

In [ ]:
# dir(s3)

In [ ]:
df_obj = s3.Object("tambua", "synthetic_facility_v3.csv")
df_obj

s3.Object(bucket_name='tambua', key='synthetic_facility_v3.csv')

In [ ]:
# df_resp = df_obj.get()
# df_resp

NameError: name 'df_obj' is not defined

In [ ]:
facility = pd.read_csv(df_resp['Body'])
facility.head()

using s3fs

In [ ]:
df = pd.read_csv('s3://tambua/synthetic_facility_v3.csv')
df

,recnr,firstname,lastname,petname,dob,sex,nationalid,patientid,visitdate
0,2,Fatuma,NaN,Zaina,24-08-2017 00:00,2,N_ID_5000,2069,10-09-2018
1,3,Gloria,Rashida,NaN,11-07-1993 00:00,2,N_ID_11861,2079,14-12-2022
2,4,Ali,Hakram,Igomu,17-05-2014 00:00,1,N_ID_11864,2080,09-06-2023
3,5,Nakalema,NaN,Nkwanga,27-02-2026 00:00,2,N_ID_11867,2081,07-02-2019
4,6,Asuman,Sempa,Aguti,02-03-2002 00:00,1,N_ID_11870,2082,18-08-2020
...,...,...,...,...,...,...,...,...,...
2897,2899,Madina,Nakagolo,Nkima,28-07-1955 00:00,2,N_ID_13676,4961,17-08-2021
2898,2900,Namulondo,Namugabwe,NaN,14-09-1933 00:00,2,N_ID_13679,4962,21-06-2019
2899,2901,Ziriya,Kauma,Kato,11-11-1963 00:00,2,N_ID_13682,4963,27-12-2018
2900,2902,Faizo,Buyinza,Ssenyonjo,09-06-1956 00:00,1,N_ID_13685,4964,01-12-2019
2901,2903,Namusobya,Nambi,Gia,29-08-2010 00:00,2,N_ID_13688,4965,10-06-2019

### Uploading Data to Bucket

In [ ]:
s3.Bucket('tambua').upload_file(Filename='sample_data/mnist_test.csv', Key='mnist.csv')

### Delete Files in Bucket

 #### Using boto.resource()

In [ ]:
# Specify the bucket name
bucket_name = 'your_bucket_name'

# Access the bucket
bucket = s3.Bucket(bucket_name)

# Delete each object
for obj in bucket.objects.all():
    obj.delete()

#### Using boto3.client()

In [ ]:
import boto3

# Create an S3 client
s3 = boto3.client('s3')

# Specify the bucket name
bucket_name = 'your_bucket_name'

# List all objects in the bucket
objects = s3.list_objects_v2(Bucket=bucket_name)

# Delete each object
if 'Contents' in objects:
    for obj in objects['Contents']:
        s3.delete_object(Bucket=bucket_name, Key=obj['Key'])

### Delete Bucket

#### Using boto3.resource()

In [ ]:
# Access the bucket
bucket = s3.Bucket(bucket_name)
# Delete the bucket
bucket.delete()

#### Using boto3.client()

In [ ]:
s3.delete_bucket(Bucket=bucket_name)